@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #1f2937;
    margin: 0;
}

a {
    text-decoration-line: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%; /* Make sure the image takes up 100% of the container */
    height: auto;
    /* object-fit: cover; Maintain aspect ratio and cover the container */
}

header,
footer,
nav a {
    background-color: #1f2937;
    color: #e5e7eb;
}

header,
footer,
section {
    padding: 10px 15vw;
}

/* header styles */
nav,
.header-links {
    display: flex;
}

nav {
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    gap: 16px;
    justify-content: flex-end;
    flex: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary,
.header-links {
    color: #f9faf8;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
    gap: 25px;
}

.hero .container {
    flex: 2 1 none;
}

.hero .hero-img {
    flex: 1 1 none;
    min-width: 250px;
}