@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #1f2937;
    margin: 0;
}

a {
    text-decoration-line: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

img {
    max-width: 100%;
    height: auto;
}

header,
footer,
nav a{
    background-color: #1f2937;
    color: #e5e7eb;
}

header,
footer,
section {
    padding: 10px 15vw;
}

.blue-bg {
    background-color: #3882f6;
    color: #fff;
    cursor: pointer;
}

button {
    font-size: 18px;
    font-weight: 600;
    padding: 5px  28px 3px 28px;
    border-radius: 8px;
    border: #3882f6 3px solid;
}

/* header styles */
nav,
.header-links {
    display: flex;
}

nav {
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    gap: 16px;
    justify-content: flex-end;
    flex: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary,
.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
    gap: 32px;
}

.hero .container {
    flex: 2 1 none;
}

.hero .hero-img {
    flex: 1 1 none;
    min-width: 250px;
}

.hero-secondary {
    margin-bottom: 12px;
}

/* Footer styles */
footer p {
    text-align: center;
}

/* Information styles */
.info {
    padding-top: 25px;
    padding-bottom: 70px;
}

.info h2 {
    margin-bottom: 45px;
    text-align: center;
}

.info-card {
    display: flex;
    gap: 35px;
    text-align: center;
}

.info-card img {
    display: block;
    border: #3882f6 3px solid;
    border-radius: 10px;
}

/* Quote styles */
.quote {
    background-color: #e5e7eb;
    padding-top: 75px;
    padding-bottom: 60px;
}

.quote blockquote {
    display: flex;
    flex-direction: column;
}

.quote blockquote p {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.quote blockquote footer {
    padding: 10px 20px;
    align-self: flex-end;
}

/* Call to action styles */
.call-action {
    padding-top: 72px;
    padding-bottom: 72px;
}

.call-action > .blue-bg {
    display: flex;
    padding: 45px 72px;
    border-radius: 8px;
    align-items: center;
}

.blue-bg.bordered {
    border: #fff 3px solid;
}

.call-action-text {
    flex: 1;
}

.call-action-text p{
    margin: 0;
}

